body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(207, 219, 240);
    z-index: 99;
}
header .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
}
header .header-title {
    font-weight: 400;
}


.button {
    background-color: rgb(31, 125, 187);
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3 ease-in-out;
    color: white;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}
.button:hover {
    background-color: rgb(61, 89, 180);
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
    margin-top: 51px;
    position: relative;
    padding: 100px 0;
}
.top .ocean-image {
    position: absolute;
    /* position: naudojami tam kad elementas esantis elemente neislystu is jo ribu
    Teviniam (pagrindinis elementas kuriame bus kitas elementas) elementui reikia uzmesti positio:relative ,o jo vaikui position: absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: cover naudojamas tam, kad background nuotrauka neiislystu is remu */
    pointer-events: none; 
    /* pointer-events: none neleidzia pazymeti ir nukopijuoti nuotrauku pvz */
}
.top:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    z-index: 1;
}
.top .content {
    position: relative;
    z-index: 1;
}
.top .content h1 {
    color: white;
    font-size: 38px;
    text-align: center;
    max-width: 670px;
    width: 100%;
}
.button-top {
    background-color: rgb(31, 125, 187);
    display: inline-block;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3 ease-in-out;
    color: white;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;

}
input {
    padding: 8px 30px;
    margin-left: 200px;
}
.icons {
    
    justify-content: center;
    align-items: center;
    background: white;
    margin-top: 51px;
    position: relative;
    padding: 100px 0;
    text-align: center;
    display: flex;

}
.varnele {
    width: 50x;
    height: 50px;
    
}
.veidukas {
    width: 50px;
    height: 50px;
    
}
.kompas {
    width: 50px;
    height: 50px;
    
}
.align {
    margin: 15px;
}
p {
    color: grey;
}
.about {
    align-items: center;
    background: white;
    margin-top: 51px;
    position: relative;
    padding: 100px 0;
    text-align: center;
    max-width: auto;

}
.phone {
    float: right;
}
.kid {
    float: right;
}
.matrix {
    float: left;
}
.right {
    float: right;
    
}
.left {
    float: left;
    
}

    
    
